* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
  }
  
  .background {
    height: 100%;
    width: 100%;
    background: url('background-furia.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .logo-furia {
    width: 1000px;
    height: auto;
    max-width: 90%;
    z-index: 1;
  }
  
  .overlay {
    position: absolute;
    bottom: 180px; 
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
  }
  
  .chat-button {
    all: unset;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-family: "Arial", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.8rem 1.6rem;
    text-transform: uppercase;
    transform: skewX(-10deg);
    transition: all 0.3s ease;
  }
  
  .chat-button:hover {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #000000;
  }
  
  
  .chat-button:focus {
    outline: revert;
  }
  